@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: coral;
}
header{
    background-color: #f4f4f4;
    height: calc(100vh-70px);
    padding: 24px;
}
.home__header{
font-size: 72px;
}
.subheader{
    font-size: 36px;
    margin:16px 0 24px 0 ;
}
button{
    background-color: coral;
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 24px;
}
a:hover{
    text-decoration: underline;
}
a{
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
 
}
.logo{
   width: 300px;
   font-weight: bold;
   font-size: 40px;

}
body{
    background-color: #f4f4f4;
}
ul{
    display: flex;
  
}
li{
   list-style: none;
   padding-left: 16px;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/*ABOUT*/
#about{
    padding: 48px 0;
    background-color: coral;
}
h2{
font-size: 60px;
text-align: center;
margin-bottom: 24px;
}
.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__description--wrapper{
    width: 60%;
    padding:0 24px ;
}
.section__description--para{
    font-style: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}
/*CONTACT*/
#contact{
   background-color: #f4f4f4;
 
}
form{
    width: 100%;
    max-width :600px; ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}
input,textarea{
    margin-bottom: 24px;
    font-style: 28px;
    padding: 6px 12px;
}
/*FOOTER*/
footer{
  background-color: #f4f4f4;  
display: flex;
flex-direction: column;
align-items: center;
}
.footer__logo{
    color: black;
    max-width: 480px;
    margin-top:16px ;
    margin-bottom: 16px;
}
.footer__links{
    margin-bottom: 32px;
}
.footer__link{
    color: black;
    padding: 0 16px;
}

/*Phones and Tablets*/
@media (max-width:728px) {
    .row{
        display: flex;
        flex-direction: column;
    }
.home__description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
   text-align: center; 
   font-size: 60px;
}
.subheader{
    text-align: center;
    font-size: 28px;
}
.home__description--button{
max-width: 240px;
}

ul{
    display: none;
}
.section__description{
    display: flex;
    flex-direction: column;
}
.section__description--wrapper{
    width: 100%;
}
footer{
    padding: 48px 24px;
}
.footer__link{
    padding: 0 8px;
    font-size: 18px;
}
.footer__links{
    margin-bottom: 24px;
}





}